/target
*target*
*.jar
*.war
*.ear
*.class
*.properties
*.DS_Store 
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/bin/
/build
.idea/

src/models/User.java
